<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.member">
	
	
	
	<select id="login"  parameterType="com.korail.vo.MemberVo"  resultType="int">
		select count(*)  
		FROM MYKTX_MEMBER where id=#{id} and pass=#{pass}
	</select>
	
	
	
		
	<select id="joincheck" parameterType = "String" resultType= "int">
		SELECT COUNT(*) FROM myktx_member WHERE ID=#{id}
	</select>
	
	
	<insert id="join" parameterType="com.korail.vo.MemberVo">
		insert into 
			myktx_member
			   (id, pass, name, email,tel, pnumber,birth, gender, mdate) 
			values			
			    (#{id},#{pass},#{name},#{email},#{tel},#{pnumber},#{birth},#{gender},sysdate)
	</insert>



</mapper>