#contentWrap {
    left: 220px;
    width: calc(100% - 220px);
    min-width: 708px;
    position: absolute;
    top: 0;
}




.loginBox{
border:1px solid gray;
width:700px;
padding-left:50px;

} 

.login_ti{
	margin:0;
	padding:0;
}

.title_wrap.loginT{
	background : url("http://localhost:9000/ktx/images/visual_joinT_bg.gif")center 0 no-repeat;
	background-size: cover;
	color:white;
	font-size: 34px;
	font-weight: normal;
}	
	
.title_wrap {
    position: relative;
    background: #214c5a;
    height: 180px;
    padding-top: 75px;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

	
.util{
	position: absolute;
	top:0px;
	right: 30px;	
	}
.util ul {
    float: left;
}
.util > ul li {
    float: left;
    vertical-align: top;
}
.util li.account, .util > ul li a {
    position: relative;
    padding: 0 12px 0 8px;
}
.util li a, .util select {
    font-size: 11px;
    color: #fff;
}
.util li.login a span, .util li.logout a span {
    padding: 4px 10px;
    font-weight: bold;
    color: #fff;
    background-color: #cfa346;
    border: 1px solid #fff;
}
.util li a, .util select {
    font-size: 11px;
    color: #fff;
}
.util > ul li a:after {
    display: block;
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    width: 1px;
    height: 10px;
    border-left: 1px solid #fff;
    opacity: 0.4;
}


ul{
list-style:none;
}
.v_noti	h2 {
	
	text-align:center;
	    font-size: 30px;
	}
	.loginBoth {
		list-style:none;
		display:block;
		margin:0px;
		padding:0px;
	}
.btnJoin{
	  width: 90px;
  height: 40px;
  margin: auto 0;
  color:white;
  background:gray;
  border:none;
  border-radius: 5px;
  margin: 20px;
}
.loginBoth:last-child{
	text-align:center;
}
.loginBoth button:hover{
		cursor:pointer;
	}
	
.input-group{
	text-align: center;
}
.input-group input{
	
	background-color: #f3f4f6;
	width:25%;
	padding:8px 20px;
	border:1px solid #ddd;
	border-radius:4px;
}
.input-group select{
		width:10%;
	padding:8px 20px;
	border:1px solid #ddd;
	border-radius:4px;
}
.login_id{
	text-align:center;
	
}

.join2_p{
	text-align: center;
    font-size: 20pt;
    color: black;
    margin: 30px 0px;
}

.input-group{
	border: 1px solid #e6e6e6;
    padding: 50px 0;
    width: 90%;
    margin-left: 40px;
    }
    
.box_searchId a span {
    display: block;
    height: 100%;
    padding-left: 38px;
    font-size: 12px;
    color: #a1a6b2;
}

.box_searchId a span.ico_searchId {
    background: url(http://localhost:9000/ktx/images/ico_searchId_s.png) 0 0 no-repeat;
}
.box_searchId a span.ico_searchPW {
    background: url(http://localhost:9000/ktx/images/ico_searchPW_s.png) 0 0 no-repeat;
}
.box_searchId {
    margin-top: 15px;
    padding-left: 10px;
    font-size: 0;
    text-align: left;
}
.box_searchId {
margin-left: 450px;
	}
button {
    cursor: pointer;
}
.box_searchId {
    margin-top: 15px;
    padding-left: 10px;
    font-size: 0;
    text-align: left;
}
.box_searchId a:first-child {
    margin-left: 0;
}
.box_searchId a {
    display: inline-block;
    height: 26px;
    margin-left: 50px;
    line-height: 25px;
}
.loginBoth {
		list-style:none;
		display:block;
		margin:0px;
		padding:0px;
	}
 .mail-check-box{
    text-align: center;
    border: 1px solid #e6e6e6;
    width: 90%;
     padding: 30px 0;
    margin-left: 40px;
    }
.mail-check-input{
    background-color: #f3f4f6;
    width: 25%;
    padding: 8px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



/*∂π¥Ÿ æ»∂π¥Ÿ ¿Œ¡ıπ¯»£
*/
.authnum{
display :none;	
	
}