<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.member">
	
	
	<select id="findPass" parameterType="String" resultType="com.korail.vo.MemberVo">
		 SELECT PASS FROM KTX_MEMBER  WHERE EMAIL = #{email}
	
	</select>



	<select id="findId" parameterType="String" resultType="com.korail.vo.MemberVo">
		 SELECT ID FROM KTX_MEMBER  WHERE EMAIL = #{email}
	
	</select>
	
	
	
	
	<select id="memberSelectAll" resultType="com.korail.vo.MemberVo">
		SELECT * 
		FROM ktx_member
		<where>
			<if test="ch1=='custname'">
				 AND CUSTNAME LIKE '%'||#{ch2}||'%' 
			</if>
			 <if test="ch1=='id'">
				 AND id LIKE '%'||#{ch2}||'%' 
			 </if>
		</where>
		ORDER BY rno DESC
	</select>
	
	
	
	<select id="search_list" parameterType="map"  resultType="com.korail.vo.MemberVo">
		select rno, id, pass, name, email, pnumber, birth, gender, mdate
		from (select rownum rno, id, pass, name, email, pnumber, birth, gender , to_char(mdate,'yyyy-mm-dd') mdate  
				 from (select id, pass, name, email, pnumber, birth, gender, mdate from ktx_member   
				        order by mdate desc)
			  <if test= 'category =="custname"'>
				where name LIKE '%'||#{cvalue}||'%'
			  </if>
			  <if test= 'category == "id"'>
				where id LIKE '%'||#{cvalue}||'%'
			 </if>	        	
			) 
		where rno between #{start}  and #{end}
	</select>



	<select id="list" parameterType="map"  resultType="com.korail.vo.MemberVo">
		select rno, id, pass, name, email, pnumber, birth, gender, mdate
		from (select rownum rno, id, pass, name, email, pnumber, birth, gender , to_char(mdate,'yyyy-mm-dd') mdate  
				 from (select id, pass, name, email, pnumber, birth, gender, mdate from ktx_member   
				        order by mdate desc)) 
		where rno between #{start}  and #{end}
	</select>
	
	
	
	
	<select id="login"  parameterType="com.korail.vo.MemberVo"  resultType="com.korail.vo.SessionVo">
		select count(*) loginResult ,name , id
		FROM KTX_MEMBER where id=#{id} and pass=#{pass} group by name , id 
	</select>
	
	
	
		
	<select id="joincheck" parameterType = "String" resultType= "int">
		SELECT COUNT(*) FROM ktx_member WHERE ID=#{id}
	</select>
	
	<select id="emailcheck" parameterType = "String" resultType= "int">
		SELECT COUNT(*) FROM ktx_member WHERE email= #{email}
	</select>
	
	
	<insert id="join" parameterType="com.korail.vo.MemberVo">
		insert into 
			ktx_member
			   (id, pass, name, email,tel, pnumber,birth, gender, mdate) 
			values			
			    (#{id},#{pass},#{name},#{email},#{tel},#{pnumber},#{birth},#{gender},sysdate)
	</insert>



</mapper>