<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.notice">

	<insert id="insert" parameterType="com.korail.vo.NoticeVo">
		insert into ktx_notice(nid,ntitle,ncontent,nhits,ndate) 
			values('n_'||ltrim(to_char(sequ_ktx_notice.nextval,'0000')),
					#{ntitle},#{ncontent},0,sysdate)
	</insert>
	
	<select id="content" parameterType="String" resultType ="com.korail.vo.NoticeVo">
		select nid, ntitle, ncontent, nhits, to_char(ndate, 'yy-mm-dd') ndate from ktx_notice where nid=#{nid}
	</select>
	
	<select id="list" parameterType="map" resultType="com.korail.vo.NoticeVo">
		select rno, nid, ntitle, nhits, ndate 
			from (select rownum rno, nid, ntitle, nhits, to_char(ndate, 'yyyy-mm-dd') ndate 
				from (select nid, ntitle, nhits, ndate from ktx_notice order by ndate desc))
					where rno between #{start} and #{end}
	</select>
	
	<select id="list3" parameterType="String" resultType="com.korail.vo.NoticeVo">
		select nid from ktx_notice order by ndate desc
	</select>
	
	<select id="notice_list" parameterType="map" resultType="com.korail.vo.NoticeVo">
		select rno, nid, ntitle, ncontent, nhits, ndate
			from (select rownum rno, nid, ntitle, ncontent, nhits, ndate 
				from (select nid, ntitle, ncontent, nhits, to_char(ndate, 'yyyy-mm-dd') ndate 
	  				from (select nid, ntitle, ncontent, nhits, ndate from ktx_notice order by nid desc))  
			<if test= 'category == "title"'>
				where ntitle like '%'||#{cvalue}||'%'  
			</if>
			<if test= 'category == "content"'>
				where ncontent like '%'||#{cvalue}||'%' 
			</if>	
			<if test= 'category == "title_content"'>
				where ntitle like '%'||#{cvalue}||'%' or ncontent like '%'||#{cvalue}||'%'
			</if>
				)where rno between #{start} and #{end}
	</select>
	
	<select id="list2" resultType="com.korail.vo.NoticeVo">
		select rownum rno, nid, ntitle, nhits, to_char(ndate, 'yyyy-mm-dd') ndate
		from (select nid, ntitle, nhits, ndate from ktx_notice order by ndate desc)
	</select>
	
	<update id="update" parameterType="com.korail.vo.NoticeVo">
		update ktx_notice set ntitle=#{ntitle}, ncontent=#{ncontent}
		where nid=#{nid}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from ktx_notice where nid=#{nid} 
	</delete>
	
	<update id="updateHits" parameterType="String">
		update ktx_notice set nhits=nhits+1 where nid=#{nid}
	</update>
</mapper>
