<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.order">
	
	
	<insert id="payment" parameterType="com.korail.vo.OrderVo" >
		insert into KTX_ORDER
			(sstation,rdate,stime,dtime,dstation,price,reservnum,trainnum,chairnum,ticketqty,id,cancel,depPlaceId,arrPlaceId,depPlandTime,cardnum)
		values
			(#{sstation},sysdate,#{stime},#{dtime},#{dstation},#{price},#{reservnum},#{trainnum},#{chairnum},#{ticketqty},
			'GUEST','0',#{depPlaceId},#{arrPlaceId},#{depPlandTime},#{cardnum})
	</insert>

</mapper>



