<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.order">
	
	
	<insert id="payment" parameterType="com.korail.vo.OrderVo" >
		insert into KTX_ORDER
			(sstation,rdate,stime,dtime,dstation,price,reservnum,trainnum,chairnum,ticketqty,id,cancel,depPlaceId,arrPlaceId,depPlandTime,cardnum)
		values
			(#{sstation},sysdate,#{stime},#{dtime},#{dstation},#{price},#{reservnum},#{trainnum},#{chairnum},#{ticketqty},
			#{id},'0',#{depPlaceId},#{arrPlaceId},#{depPlandTime},#{cardnum})
	</insert>

	<update id="updatePayment" parameterType="com.korail.vo.OrderVo">
		update ktx_order set 
			rdate=sysdate, stime=#{stime}, dtime=#{dtime}, price=#{price}, trainnum=#{trainnum}, 
			chairnum=#{chairnum}, ticketqty=#{ticketqty}, depPlandTime=#{depPlandTime}, cardnum=#{cardnum}
		where reservnum=#{reservnum}
	</update>

	<select id="select" parameterType = "com.korail.vo.OrderVo" resultType="com.korail.vo.OrderVo">
		SELECT id, sstation, depPlandTime, stime, dstation, price, reservnum, trainnum, chairnum, cancel, depPlaceId, arrPlaceId, cardnum
		FROM KTX_ORDER
        <choose>
        	<when test='cardnum == null'>
        		 where id=#{id}
        	</when>
        	<otherwise>
        		where cardnum=#{cardnum}
        	</otherwise>
        </choose>
	</select>
	
	<select id="selectcard" parameterType="com.korail.vo.OrderVo" resultType="int">
		SELECT count(*) from ktx_order
		where cardnum=#{cardnum}
	</select>
	
</mapper>



