<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.pmy">
		
	<select id="check" parameterType="java.util.HashMap" resultType="com.korail.vo.OrderVo">
	    SELECT * FROM KTX_ORDER WHERE id=#{id} AND DepPlandTime BETWEEN to_date(#{date1}, 'yyyy/mm/dd') AND to_date(#{date2}, 'yyyy/mm/dd')
	</select>
	
</mapper>
